@page
@model xpath_injection.Pages.LoginModel
@{
}

<h2>Login</h2>
<form method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" />
    </div>
    <button type="submit">Login</button>
</form>